<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化demo</title>
    <link href="../styles/common.css" rel="stylesheet">
<!--    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>-->
    <script src="../libs/echarts.min.js"></script>
    <script src="../libs/jquery1.9.1.js"></script>
    <script src="../libs/jquery.csv.min.js"></script>
<!--    <script src="../scripts/Plugin/echarts.min.js"></script>-->
    <script src="../scripts/Plugin/bmap.min.js"></script>
<!--    <script src="http://api.map.baidu.com/api?v=2.0&ak=LelFSt6BfykGf8m3PB5zr8LaXAG2cMg6"></script>-->
    <script src="../scripts/common.js"></script>
    <script src="../scripts/timezone.js"></script>

        <!--引入中国的地图数据js文件，引入后会自动注册地图名字和数据-->
    <script src="https://www.echartsjs.com/examples/vendors/echarts/map/js/china.js?_v_=1578305236132"></script>
    <!--引入中国各个省份的地图数据js文件，引入后会自动注册地图名字和数据-->
    <script src="../scripts/maps/hebei.js"></script><!-- 河北 -->
    <script src="../scripts/maps/shanxi.js"></script><!-- 山西 -->
    <script src="../scripts/maps/liaoning.js"></script><!-- 辽宁 -->
    <script src="../scripts/maps/jilin.js"></script><!-- 吉林 -->
    <script src="../scripts/maps/heilongjiang.js"></script><!-- 黑龙江 -->
    <script src="../scripts/maps/jiangsu.js"></script><!-- 江苏 -->
    <script src="../scripts/maps/zhejiang.js"></script><!-- 浙江 -->
    <script src="../scripts/maps/anhui.js"></script><!-- 安徽 -->
    <script src="../scripts/maps/fujian.js"></script><!-- 福建 -->
    <script src="../scripts/maps/jiangxi.js"></script><!-- 江西 -->
    <script src="../scripts/maps/shandong.js"></script><!-- 山东 -->
    <script src="../scripts/maps/henan.js"></script><!-- 河南 -->
    <script src="../scripts/maps/hubei.js"></script><!-- 湖北 -->
    <script src="../scripts/maps/hunan.js"></script><!-- 湖南 -->
    <script src="../scripts/maps/guangdong.js"></script><!-- 广东 -->
    <script src="../scripts/maps/hainan.js"></script><!-- 海南 -->
    <script src="../scripts/maps/sichuan.js"></script><!-- 四川 -->
    <script src="../scripts/maps/guizhou.js"></script><!-- 贵州 -->
    <script src="../scripts/maps/yunnan.js"></script><!-- 云南 -->
    <script src="../scripts/maps/shanxi1.js"></script><!-- 陕西 -->
    <script src="../scripts/maps/gansu.js"></script><!-- 甘肃 -->
    <script src="../scripts/maps/qinghai.js"></script><!-- 青海 -->
    <script src="../scripts/maps/taiwan.js"></script><!-- 台湾 -->
    <script src="../scripts/maps/neimenggu.js"></script><!-- 内蒙古 -->
    <script src="../scripts/maps/guangxi.js"></script><!-- 广西 -->
    <script src="../scripts/maps/xizang.js"></script><!-- 西藏 -->
    <script src="../scripts/maps/ningxia.js"></script><!-- 宁夏 -->
    <script src="../scripts/maps/xinjiang.js"></script><!-- 新疆 -->
    <script src="../scripts/maps/beijing.js"></script><!-- 北京 -->
    <script src="../scripts/maps/shanghai.js"></script><!-- 上海 -->
    <script src="../scripts/maps/tianjin.js"></script><!-- 天津 -->
    <script src="../scripts/maps/chongqing.js"></script><!-- 重庆 -->
    <script src="../scripts/maps/xianggang.js"></script><!-- 香港 -->
    <script src="../scripts/maps/aomen.js"></script><!-- 澳门 -->


</head>
<body>
<!--顶部-->
<header class="header left">
  <div class="left nav">
      <ul>
          <li><i class="nav_1"></i><a href="index.html">主界面</a> </li>
          <li><i class="nav_2"></i><a href="timezone.html">时空态势</a> </li>
          <li><i class="nav_3"></i><a href="yuqing.html">舆情分析</a> </li>
          <!-- <li class="nav_active"><i class="nav_4"></i><a href="chronic.html">慢病病人列表</a> </li> -->
          </ul>
  </div>
    <div class="header_center left" style="position:relative">
        
        <h2><strong>新冠疫情可视分析系统</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>

        </ul>
    </div>

</header>
<!--内容部分-->
<div class="con left">
  <!--数据总概-->
  <div class="con_div">
      <div class="con_div_text left">
          <div class="con_div_text01 left">
              <img src="../images/info_7.png" class="left text01_img"/>
              <div class="left text01_div">
                  <p>全年医疗费用(万元)</p>
                  <p>1235</p>
              </div>
          </div>
          <div class="con_div_text01 right">
              <img src="../images/info_8.png" class="left text01_img"/>
              <div class="left text01_div">
                  <p>当月医疗费用(万元)</p>
                  <p>235</p>
              </div>
          </div>
      </div>
      <div class="con_div_text left">
          <div class="con_div_text01 left">
              <img src="../images/info_9.png" class="left text01_img"/>
              <div class="left text01_div">
                  <p>全年体检人数(人)</p>
                  <p class="sky">12356</p>
              </div>
          </div>
          <div class="con_div_text01 right">
              <img src="../images/info_10.png" class="left text01_img"/>
              <div class="left text01_div">
                  <p>当月体检人数(人)</p>
                  <p class="sky">12356</p>
              </div>
          </div>
      </div>
      <div class="con_div_text left">

          <div class="con_div_text01 left">
              <img src="../images/info_11.png" class="left text01_img"/>
              <div class="left text01_div">
                  <p>西药占比</p>
                  <p class="org">92%</p>
              </div>
          </div>
          <div class="con_div_text01 right">
              <img src="../images/info_12.png" class="left text01_img"/>
              <div class="left text01_div">
                  <p>中药占比</p>
                  <p class="org">8%</p>
              </div>
          </div>
      </div>
  </div>
    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any02">
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_5.png">各医院门诊人次(人)</div>
                <p id="histogramChart1" class="p_chart"></p>
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_6.png">各医院住院人次(人)</div>
                <p id="histogramChart2" class="p_chart"></p>
            </div>
        </div>
        <div class="div_any01 left ">
            <div class="div_any_child ">
                <div class="div_any_title"><img src="../images/title_0.png">疫情地图</div>
                <div id="mapChart" class="p_chart"></div>
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_0.png">传播地图</div>
                <div id="transportChart" class="p_chart"></div>
            </div>
        </div>
        <!-- <div class="left div_any01">
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_7.png">各医院医疗费用(元)</div>
                <p id="lineChart1" class="p_chart"></p>
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_8.png">各医院体检人次(人)</div>
                <p id="lineChart2" class="p_chart"></p>
            </div>
        </div>
        <div class="left div_any01">
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_9.png">药占比(%)</div>
                <p id="histogramChart3" class="p_chart"></p>
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_10.png">平均住院天数(天)</div>
                <p id="histogramChart4" class="p_chart"></p>
            </div>
        </div> -->
        <div class="left div_any01">
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_11.png">具体省份地图</div>
                <p id="pieChart1" class="p_chart"></p>
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="../images/title_12.png">疫情控制情况</div>
                <p id="pieChart2" class="p_chart"></p>
            </div>
        </div>
    </div>


</div>


</body>
</html>
